
/* ============================= */
/* Fonts                         */
/* ============================= */
@font-face {
    font-family: 'TitleFont';
    src: URL('fonts/CaviarDreams_Bold.ttf') format('truetype');
  }

  @font-face {
    font-family: 'TitleFont';
    src: URL('fonts/CaviarDreams.ttf') format('truetype');
  }

  a {
    text-decoration: none;
    color: inherit;
  }
  
  a:hover,
  a:focus{
    text-decoration: none;
    color: inherit;
  }

/* ============================= */
/* Images                        */
/* ============================= */
.logo-instit {
    margin-left:2%;
    margin-right:2%;
    margin-bottom: 2%;
}

.logo-TF {
    margin-top: 5rem;
    margin-bottom:2%;
    width: 35rem;
    height: 15rem;
    
}

/* ============================= */
/* Base                          */
/* ============================= */
body {
    font-family: Calibri, sans-serif;
    background-color: #ffffff00;
    padding-top: 3%;
    font-size: 1.7rem;
}

.whole-padding {
    padding-right: 5%;
    padding-left: 5%;
}

.split {
    display: flex;
}

h1 {
    font-family: "TitleFont", sans-serif;
    color: #242424;
    font-size:4rem;
}

h2 {
    font-family: "TitleFont", sans-serif;
    color: #242424;
    font-size:2rem;
}


/* ============================= */
/* Header                        */
/* ============================= */
.container-header {
    display: flex;
    align-items: center;
    padding-right: 15%;
    padding-left: 15%;

}

.content-header {
    flex: 1;
    padding-left: 3%;
    text-align: justify;
}

.quote {
    font-size: 2rem;
    color: #929292;
}




/* ============================= */
/* Right-box (descriptions)      */
/* ============================= */
.right-panel {
    width: 45%;
    padding-left: 3rem;
    padding-right: 3rem;
    margin-right: 0;
}

/* ============================= */
/* Left-box (classification)     */
/* ============================= */


.left-panel {
    width: 55%;
    color: white;
    padding-right: 10rem;
    padding-left: 3rem;
    margin-right: 0;
}

.legend {
    font-size: 1.5rem;
    color: #929292;
    text-align: justify;
    width: 80%;
    padding: 0 2rem;
    margin-bottom: 3rem;
    margin-left: 6%;
    
}


/* ============================= */
/* Footer                        */
/* ============================= */
footer {
    background-color: #f0f0f0;
    margin-top: 30;
    padding-top:1%;
    padding-bottom:1%;
}

.text-footer {
    font-size: 1.5rem;
    text-align: center;
    padding-left:40%;
    padding-right:40%;
}

.text-footer-j {
    font-size: 1.5rem;
    text-align: justify;
    padding-left:40%;
    padding-right:40%;
}


/* ######################################### */
/* Table  */
/* ######################################### */

/* BASE */
.superclass-title {
    color: white;
    padding-left: 2%;
    font-size: 2rem;
    font-family: "Calibri", sans-serif;
    margin-top: 1rem;
    margin-bottom: 1rem;
    align-items: center;
}

.class-title {
    color: white;
    padding-left: 4%;
    font-size: 1.5rem;
    font-family: 'Calibri', sans-serif;
    margin: 0;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    align-items: center;
}

.family-title {
    color: rgb(0, 0, 0);
    padding: 2%;
    font-size: 1.5rem;
    font-family: 'Calibri', sans-serif;
    margin: 0;
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
    text-align: center;
    align-items: center;
}

/* Helix Turn Helix */
.superclass-HTH {
    background-color: #882254;
    margin: 0.25rem;
    padding: 0.25rem;
    color: white;
    border-radius: 1rem;
    flex: 1;
    align-items: center;
}

.class-HTH {
    background-color: #882254;
    border: 0.025rem solid white;
    color: white;
    border-radius: 1rem;
    flex: 1;
    padding: 1%;
    margin: 1%;
    align-items: center;
}

.family-HTH {
    background-color: #FFFFFF70;
    margin: 0.25rem;
    padding: 1%;
    border-radius: 1rem;
    flex: 1;
    align-items: center;
}

.block-1-HTH {
    display: flex;
    
}

.block-2-HTH {
    display: flex;

}
.block-3-HTH {
    display: flex;
    flex-direction: column;
    flex: 20%;
    }
.block-4-HTH {
    display: flex;
    flex: 1;
}

.block-5-HTH {
    display: flex;
    flex-direction: column;
    flex: 30%;
}

.block-6-HTH {
    display: flex;
    flex: 70%;
}

/* SEPARATION */
.second-line {
    display: flex;
    flex: 1;
}

/* BETA HAIRPIN */
.superclass-BetaHairpin {
    background-color: #D0B945;
    margin: 0.25rem;
    padding: 0.5rem;
    color: white;
    border-radius: 1rem;
    flex: 0.5;
    align-items: center;
}

.class-BetaHairpin {
    background-color: #D0B945;
    border: 1px solid white;
    color: white;
    border-radius: 1rem;
    flex: 1;
    padding: 1%;
    margin: 1%;
    align-items: center;
    
}

.family-BetaHairpin {
    background-color: #FFFFFF70;
    margin: 0.25rem;
    padding: 1%;
    border-radius: 1rem;
    flex: 1;
    align-items: center;
}

.block-1-BetaHairpin{
    display: flex;
    flex: 1;
    
}

.block-2-BetaHairpin{
    display: flex;
    flex: 1;
}

/* OTHER ALL ALPHA HELICES */
.superclass-OtherAllAlphaHelical {
    margin: 0.25rem;
    padding: 0.5rem;
    background-color: #44AB9A;
    border-radius: 1rem;
    flex: 0.3;
}

.class-OtherAllAlphaHelical {
    background-color: #44AB9A;
    border: 1px solid white;
    color: white;
    border-radius: 1rem;
    flex: 1;
    padding: 1%;
    margin: 1%;
    
}

.family-OtherAllAlphaHelical {
    background-color: #FFFFFF70;
    margin: 0.25rem;
    padding: 1%;
    border-radius: 1rem;
    flex: 1;
}

.block-1-OtherAllAlphaHelical{
    display: flex;
    flex: 1;
}

.block-2-OtherAllAlphaHelical{
    display: flex;
    flex-direction: column;
    flex: 1;
}

/* BETASHEET */
.superclass-BetaSheet {
    margin: 0.25rem;
    padding: 0.5rem;
    background-color: #332288;
    border-radius: 1rem;
    flex: 0.2;
}

.class-BetaSheet {
    background-color: #332288;
    border: 1px solid white;
    color: white;
    border-radius: 1rem;
    flex: 1;
    padding: 1%;
    margin: 1%;
    
}

.family-BetaSheet {
    background-color: #FFFFFF70;
    margin: 0.25rem;
    padding: 1%;
    border-radius: 1rem;
    flex: 1;
}

.block-1-BetaSheet {
    display: flex;
    flex-direction: column;
    flex: 1;
}


/* SEPARATION */
.third-line {
    display: flex;
    flex: 1;
}

/* ZINC COORDINATING */
.superclass-ZincCoordinating {
    margin: 0.25rem;
    padding: 0.5rem;
    background-color: #AA4498;
    border-radius: 1rem;
    flex: 70%;
}

.class-ZincCoordinating {
    background-color: #AA4498;
    border: 1px solid white;
    color: white;
    border-radius: 1rem;
    flex: 1;
    padding: 1%;
    margin: 1%;
    
}

.family-ZincCoordinating {
    background-color: #FFFFFF70;
    margin: 0.25rem;
    padding: 1%;
    border-radius: 1rem;
    flex: 1;
}

.block-1-ZincCoordinating {
    display: flex;
    flex: 1;
}

.block-2-ZincCoordinating {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.block-3-ZincCoordinating {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.block-4-ZincCoordinating {
    display: flex;
    flex: 1;
}

.block-5-ZincCoordinating {
    display: flex;
    flex: 1;
}

/* BETABARREL */
.superclass-BetaBarrel {
    margin: 0.25rem;
    padding: 0.5rem;
    background-color: #989933;
    border-radius: 1rem;
    flex: 30%;
}

.class-BetaBarrel {
    background-color: #989933;
    border: 1px solid white;
    color: white;
    border-radius: 1rem;
    flex: 0.15;
    padding: 1%;
    margin: 1%;
    
    flex-direction: column;
}

.family-BetaBarrel {
    background-color: #FFFFFF70;
    margin: 0.25rem;
    padding: 1%;
    border-radius: 1rem;
    flex: 1;
}

/* BASIC */
.superclass-Basic {
    margin: 0.25rem;
    padding: 0.5rem;
    background-color: #4DB2E6;
    border-radius: 1rem;
    flex: 15%;
}

.class-Basic {
    background-color: #4DB2E6;
    border: 1px solid white;
    color: white;
    border-radius: 1rem;
    flex: 1;
    padding: 1%;
    margin: 1%;
    
}

.family-Basic {
    background-color: #FFFFFF70;
    margin: 0.25rem;
    padding: 1%;
    border-radius: 1rem;
    flex: 1;
}

.block-1-Basic {
    display: flex;
    flex: 1;
}

/* ALPHA HELICES */
.superclass-AlphaHelices {
    margin: 0.25rem;
    padding: 0.5rem;
    background-color: #CC6576;
    border-radius: 1rem;
    flex: 15%;
}

.class-AlphaHelices {
    background-color: #CC6576;
    border: 1px solid white;
    color: white;
    border-radius: 1rem;
    flex: 1;
    padding: 1%;
    margin: 1%;
    
}

.family-AlphaHelices {
    background-color: #FFFFFF70;
    margin: 0.25rem;
    padding: 1%;
    border-radius: 1rem;
    flex: 1;
}

.block-1-AlphaHelices {
    display: flex;
    flex: 1;
}

/* YET UNDEFINED */
.superclass-YetUndefined {
    margin: 0.25rem;
    padding: 0.5rem;
    background-color: #127733;
    border-radius: 1rem;
    flex: 1;
    display: flex;
}

.class-YetUndefined {
    background-color: #127733;
    border: 1px solid white;
    color: white;
    border-radius: 1rem;
    flex: 1;
    padding: 1%;
    margin: 1%;
    text-align: center;
    
}

/* =========================== */
/* Animation */
/* =========================== */
[class^="superclass-"]:hover,
[class^="class-"]:hover{
  filter: brightness(1.05); /* léger éclaircissement du panneau ET du texte */
  transform: translateY(-3px);
  cursor: pointer;
  transition: all 0.25s ease-in-out;
}


/* ============================= */
/* Responsivness                 */
/* ============================= */
@media (max-width: 992px) { /* Tablette */
    .container-header {
      flex-direction: column;
      padding: 0 5%;
      text-align: center;
    }
    h1 { font-size: 3rem; }
    .split { flex-direction: column; }
    .text-footer, .text-footer-j {
      padding: 0 15%;
    }
    .whole-padding { padding: 0 3%; }
  }
  
  @media (max-width: 576px) { /* Mobile */
    h1 { font-size: 1.6rem; text-align: center; }
    h2 { font-size: 1.2rem; }
    .left-panel, .right-panel { flex: 1 1 100%; }
    .text-footer, .text-footer-j { padding: 0 5%; }
    .logo-TF { width: 60%; }
    .whole-padding { padding: 0 2%; }
  }

  /* Portrait (mobile ou PC vertical) */
@media screen and (orientation: portrait) {
    .container-header {
      flex-direction: column;
      padding: 0 10%;
    }
    .legend {
        padding-left: 5rem;
        padding-right: 5rem;
    }
    .split {
        flex-direction: column;
        flex: 1;
      }
    .text-footer, .text-footer-j {
      padding: 0 10%;
    }
    .whole-padding {
      padding: 0 5%;
    }
    .left-panel, .right-panel {
        width: 100%;
        padding-left: 3rem;
        padding-right: 3rem;
      }
    .right-panel {
        height: 100rem;

      }
    .legend {
        width: 100%;
        margin-left: 0;
      }
  }
  
  /* Landscape (PC ou tablette horizontale) */
  @media screen and (orientation: landscape) {
    .container-header {
      flex-direction: row;
      padding: 0 15%;
    }
    .whole-padding {
      padding: 0 5%;
    }
  }