@font-face {
    font-family: 'TitleFont';
    src: URL('../../fonts/CaviarDreams_Bold.ttf') format('truetype');
  }


body {
    background-color: #ffffff00;
}

h1{
	font-family: "TitleFont", sans-serif;
}

h2{
	font-family: "TitleFont", sans-serif;
}

p {
	font-family: Calibri, sans-serif;
    font-size: 17px;
    line-height: 1.5;
    text-align: justify;
}
